body {
    margin: 0;
    font-family: 'Press Start 2P'; /* opcional si usas fuente retro */
    
    background-size: cover;
}

.hero {
    background: url('img/9605.gif');
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 50px;
    color: #ffe94a;
    text-shadow: 3px 3px #000;
    background-color: rgba(0, 0, 0, 0.342); /* color con transparencia */
    background-blend-mode: darken;      /* mezcla el color encima */
}

.menu-cards {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 35px;
    padding-top: 20px;
    padding-bottom: 120px;
    flex-wrap: wrap;
}

.card {
    width: 230px;
    height: 300px;
    border: 4px solid #fff;
    background-color: rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-decoration: none;
    position: relative;
    transition: transform .25s ease, border-color .25s;
}

.card span {
    color: white;
    font-size: 18px;
    margin-bottom: 18px;
}

/* Efecto al pasar cursor */
.card:hover {
    transform: scale(1.08);
    border-color: #ffe94a;
}

/* Espacio para la futura imagen */
.card::before {
    content: "";
    position: absolute;
    top: 15px;
    width: 85%;
    height: 70%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Más adelante reemplazas las imágenes aquí */
.card:nth-child(1)::before { background-image: url('img/sonic.gif'); }
.card:nth-child(2)::before { background-image: url('img/proyecto.gif'); }
.card:nth-child(3)::before { background-image: url('img/Phone_All_0.gif'); }
/* ===== SECCIÓN SOBRE MI ===== */
.sobre-mi {
    background: url('img/fondo2.jpg');
    text-align: center;
    padding: 40px 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.342); /* color con transparencia */
    background-blend-mode: darken;      /* mezcla el color encima */
}

.sobre-mi h2 {
    font-size: 40px;
    color: #ffe94a;
    text-shadow: 3px 3px #000;
    margin-bottom: 20px;
}

.sobre-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

.sobre-img {
    width: 260px;
    height: auto;
    border: 4px solid white;
    image-rendering: pixelated; /* estilo retro */
}

.sobre-texto {
    max-width: 680px;
    background: rgba(0, 0, 0, 0.7);
    border: 4px solid white;
    padding: 18px;
}

.sobre-texto p {
    font-size: 10px;
    line-height: 26px;
}

/* ===== SUBTÍTULO HERRAMIENTAS ===== */
.subtitulo-herramientas {
    margin-top: 40px;
    font-size: 32px;
    color: #ffe94a;
    text-shadow: 3px 3px #000;
}

/* ===== CARRUSEL DE IMÁGENES ===== */
.tech-slider {
    background: transparent;
    height: 150px;
    margin: 30px 0;
    overflow: hidden;
    position: relative;
}

.tech-slider .slide-track {
    display: flex;
    width: calc(200px * 16); /* 16 elementos contando duplicados */
    animation: scroll 22s linear infinite;
}

.tech-slider .slide {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-slider .slide img {
    width: 110px;
    filter: drop-shadow(3px 3px 1px black);
    transition: transform .3s;
}

.tech-slider .slide img:hover {
    transform: scale(1.15);
}

/* Animación de movimiento */
@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-200px * 8)); }
}
/* ===== SECCIÓN PROYECTOS ===== */
.proyectos {
    background: url('img/image.png');
    text-align: center;
    padding: 50px 20px;
    color: white;
    padding-bottom: 80px;
}

.proyectos h2 {
    font-size: 45px;
    color: #ffe94a;
    text-shadow: 3px 3px #000;
    margin-bottom: 35px;
}

/* Carrusel */
.projects-slider {
    height: 420px;
    overflow: hidden;
    position: relative;
}

.projects-track {
    display: flex;
    gap: 40px;
    width: calc(290px * 8);
    animation: scroll-proyectos 20s linear infinite;
}

.pro-card {
    width: 260px;
    height: 360px;
    border: 4px solid #fff;
    background-color: rgba(0,0,0,0.65);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 18px;
    transition: transform .25s ease, border-color .25s;
}

.pro-card span {
    font-size: 17px;
    color: #ffe94a;
    text-shadow: 2px 2px #000;
}

/* Hover */
.pro-card:hover {
    transform: scale(1.07);
    border-color: #ffe94a;
}

/* Animación */
@keyframes scroll-proyectos {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-290px * 4)); }
}
/* ===== SECCIÓN CONTACTO ===== */
.contacto {
    background: url('img/fondo4.png');
    text-align: center;
    padding: 60px 20px;
    background-size: cover;
    background-position: center;
    padding-bottom: 310px;
    background-color: rgba(0, 0, 0, 0.342); /* color con transparencia */
    background-blend-mode: darken;      /* mezcla el color encima */
}

.contacto h2 {
    font-size: 42px;
    color: #ffe94a;
    text-shadow: 3px 3px #000;
    margin-bottom: 45px;
    padding-bottom: 60px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 28px;
    text-decoration: none;
}

.contact-item img {
    width: 115px;
    height: auto;
    image-rendering: pixelated; /* estilo retro */
    filter: drop-shadow(3px 3px #000);
    transition: transform .25s;
}

.contact-item span {
    font-size: 32px;
    color: white;
    text-shadow: 3px 3px #000;
}

.contact-item:hover img {
    transform: scale(1.10);
}

.contact-item:hover span {
    color: #ffe94a;
}
html {
    scroll-behavior: smooth;
}
